html, body{
	//padding-top: 25px;
	height: 100%;
}

.navbar {
	margin-bottom: 0 !important;
}

/* Wrapper for page content to push down footer */
.wrapContent {
	
	height: auto;
	
	/* Pad bottom by footer height */
	padding: 10px;

}
.bg{
	background-color: #aaaa;
}
#wrapper { display: none; }

#registration{
	padding: 20px;
}

/* Set the fixed height of the footer here */
#footer {
	display: inline-table;
	height: 60px;
	width: 100%;
	background-color: #e5e9ea;
}

#banner {
	width: 100%;
	position: static;
}

.inactive {
	display: none;
}

.footerContainer{
	text-align: center;
	
	width: 100%;
}
#footer{
	background-color: #e5e9ea;

}

.contributorList{
	list-style-type: none;
	display: inline-flex;
}

.contributorList > li {
	padding: 1rem;
}
.table{
	text-align: center;
}

.freeSpace{
	background-color: #0f0;
}
.occupiedSpace{
	background-color: #f00;
}
.roadSpace{
	background-color: #888;
}
.reservedSpace{
	background-color: #f95;
	border: 3px dashed darkblue;
}

.userSpace{
	background-color: #909;
}

#spaceCount{
	text-align: center;
}


#parkingTable{
	max-width: 500px;
	padding: 10px;
}

td{
	width: 50px;
	height: 50px;
	border: solid 2px #555 !important;

}

#detailPerspective{
	//-webkit-transform: rotateX(35.5deg);
    -webkit-transform-style: preserve-3d;
}

#user{
	margin-bottom: 10px;
}

.key ul{
	list-style-type: none;
}

.fui-checkbox-unchecked {
	float: left;
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 18px 0;
	margin: 0 0.2em;
	color: none;
	border-radius: 5px;
	font-size: 1.2em;
	font-weight: 700;
	text-align: center;
	font-family: Lato,Helvetica,Arial,sans-serif;
	border: 1px solid #34495e;
}

.fui-checkbox-unchecked::before {
	display: none;
	background: none;
}