html, body{
	//padding-top: 25px;
	height: 100%;
}

/* Wrapper for page content to push down footer */
.wrapContent {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	width: 100%;
}

.footerContainer{
	text-align: center;
	background-color: #e5e9ea;
}

.contributorList{
	list-style-type: none;
}

.table{
	text-align: center;
}

.freeSpace{
	background-color: #0f0;
}
.occupiedSpace{
	background-color: #f00;
}
.roadSpace{
	background-color: #888;
}
.reservedSpace{
	background-color: #f50;
}

.userSpace{
	background-color: #909;
}

#spaceCount{
	text-align: center;
}


#parkingTable{
	max-width: 500px;
	padding: 10px;
}

td{
	width: 50px;
	height: 50px;
	border: solid 2px #555 !important;

}